*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    max-width: 1188px;
    margin: 0 auto;
}
.card-section{
   margin-top: 50px;
   text-align: center;
}
.card-section h2{
    font-family: cursive;
    font-weight: bold;
    color: indigo;
    background-color: burlywood;
    padding: 10px;
}
.card-section p{
    text-align: justify;
    color: darkcyan;
    padding: 10px;
}
.card-container{
display: flex;
gap: 20px;
flex-wrap: wrap;
}




.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(70, 67, 67);
    padding: 10px;
    background-color: rgb(45, 54, 54);
}
.card h2{
   color: wheat;
   font-family: cursive;
   font-weight: bold;
   text-align: center;
   padding: 5px;
}
.card p{
    color: indianred;
    font-family:sans-serif;
    text-align: justify;
    padding: 10px;
}
.card button{
    background-color: rgb(194, 179, 205);
    padding: 10px;
    border:none;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.card button:hover{
    border: 1px solid black;
    background-color: bisque;
}
.card img{
    width: 100%;
    height: 200px;
}

.n1{
    background-color: rgb(45, 44, 44);
}
.n2{
    background-color: rgb(224, 178, 60);
}
.n3{
    background-color: #cad1d8;
}
.n4{
    background-color: #bc031c;
}
.n5{
    background-color: rgb(198, 226, 225);
}