 header h2{
    text-align: center;
    color: indianred;
    background-color: black;
    padding: 10px;
    margin: 20px;
    font-family: cursive;
    border-radius: 10px;
 }
 td{
    border: 1px solid;
    padding: 10px;
 }
 table{
    border-collapse: collapse;
 }